In [1]:
import pandas as pd

# Creating the sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [19, 22, 20, 23, 21],
    'Score': [85, 78, 92, 88, 76]
}

df = pd.DataFrame(data)

In [2]:
# Display the first 3 rows
print("First 3 rows:")
print(df.head(3))

# Show summary statistics
print("\nSummary Statistics:")
print(df.describe())

# Find the average score
average_score = df['Score'].mean()
print(f"\nAverage Score: {average_score}")

First 3 rows:
      Name  Age  Score
0    Alice   19     85
1      Bob   22     78
2  Charlie   20     92

Summary Statistics:
             Age      Score
count   5.000000   5.000000
mean   21.000000  83.800000
std     1.581139   6.723095
min    19.000000  76.000000
25%    20.000000  78.000000
50%    21.000000  85.000000
75%    22.000000  88.000000
max    23.000000  92.000000

Average Score: 83.8

In [3]:
# Select students older than 20
older_than_20 = df[df['Age'] > 20]

# Select students with a score above 80
high_scorers = df[df['Score'] > 80]

print("\nStudents older than 20:")
print(older_than_20)

print("\nStudents with a score > 80:")
print(high_scorers)

Students older than 20:
    Name  Age  Score
1    Bob   22     78
3  David   23     88
4    Eve   21     76

Students with a score > 80:
      Name  Age  Score
0    Alice   19     85
2  Charlie   20     92
3    David   23     88